@font-face {
    font-family: "Death Spirit";
    src: url("../fonts/Death Spirit.ttf") format("truetype");
}

:root {
    --black: #000;
    --white:   #ffff;
    --gray: #808080;
    
}


.main {
    background-image: url("../background/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
}
@media (max-width: 768px) {
    .header,
    .container {
        flex-direction: column;
    }
}

/* ///////////////////////////////// */
/* IFRAME */
.table {

    width: 100vh;
    height: 80vh;
    margin-top: 5px;
    border: 7px solid var(--gray);
    border-radius: 4px;
}


/* ///////////////////////////////// */
/* TUDO RELACIONADO AOS PERSONAGENS */

.container {
    display: flex;
    justify-content: flex-start;
    font-family: 'Death Spirit';
    padding: 2px 2% 2% 2%;
    gap: 1%;
}
.column_characters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: center;
    position: relative;
    gap: 2%;
    

}
.Character_Box {
    backdrop-filter: blur(10px);
    width: calc(25% - 2%);
    height: auto    ; /* Distribui em três colunas com gap de 2% */
    border: solid 0.3em var(--gray);
    border-radius: 2%;
    margin-top: 5px;
 
}



.ch_img {
    width: 100%;
    max-width: 100%;
  
}

/* ///////////////////////////////// */


/* inputs */

.hp_input,
.sanidade_input,
.esforco_input {
    background: transparent;
    color: var(--white);
    font-size: 0.9vw; /* Utilizando vw para tamanho de fonte responsivo */
    padding: 0.5vw; /* Utilizando vw para espaçamento responsivo */
    text-align: center;
    position: absolute;
    z-index: 0;
    width: 3vw; /* Utilizando vw para largura responsiva */
    border: none; /* Removendo a borda para um estilo mais limpo */
    outline: none; /* Removendo a borda de foco */
    transform: translate(-50%, -50%); /* Centraliza o input */
    
    
}
.hp_input{
    top: 12.5%;
    left: 73%;
}
.sanidade_input{
    top: 24.5%;
    left: 75%;
}
.esforco_input{
    top: 36.5%;
    left: 86%;
}

.hp_input:focus {
    outline: none;
}


.sanidade_input:focus {
    outline: none;
}

.esforco_input:focus {
    outline: none;
}

/* Buttom */

.buttons {
    display: flex;
    gap: 1vw; /* Utilizando vw para espaçamento responsivo */
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center; /* Centralizando os botões horizontalmente */
    align-items: center; /* Centralizando os botões verticalmente */
    padding: 2%;
  
}
.button_style {
    border-radius: 3px;
    background-color: var(--gray);
    font-size: 1vw; /* Utilizando vw para tamanho de fonte responsivo */
    transition: transform 0.4s ease-in;
    width: 3vw;
    height: 2.5vw;
  
}

.button_style:hover {
    background-color: var(--white);
    transform: scale(1.1);
}

/* parte de baixo do site */
.footer {
    color: var(--white);
    background-color: var(--black);
    padding: 2vw; /* Utilizando vw para espaçamento responsivo */
    text-align: center;
}