@font-face {
    font-family: "Death Spirit";
    src: url("../fonts/Death Spirit.ttf") format("truetype");
}

:root {
    --black: #000;
    --white:   #ffff;
    --gray: #808080;
    
}


.main {
    background-image: url("../background/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    
    
   
}

.body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    
}
.header{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 0 0;

}
@media (max-width: 800px) {
    .header {
        flex-direction: column;
    }
}

/* ///////////////////////////////// */
/* IFRAME */

.table {
    width: 1000px ;
    height: 750px ;
    margin-top: 5px;
    border: 7px solid var(--gray);
    border-radius: 4px ; 
}


/* ///////////////////////////////// */
/* TUDO RELACIONADO AOS PERSONAGENS */

.container {
    display: flex;
    gap: 1%;
    padding: 2px 2% 2% 2%;
    justify-content: space-evenly;
    font-family: 'Death Spirit';
    
}
.column_characters_one{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: center;
    position: relative;
    gap: 2%;
    

}

.Character_Box {
    backdrop-filter: blur(10px);
    width: 32%;
    border: solid 0.3em var(--gray) ;
    border-radius: 2%;
    flex-wrap: wrap;
    margin-top: 5px;
    font-family: 'Death Spirit';
    
}

.Character_Box_Venator {
    display: none;
    backdrop-filter: blur(10px);
    width: 32%;
    border: solid 0.3em var(--gray) ;
    border-radius: 2%;
    flex-wrap: wrap;
    margin-top: 5px;
    font-family: 'Death Spirit';
    
}

.ch_img{
    width: 80%;
}

/* ///////////////////////////////// */


/* inputs */

.hp_input {
    background: transparent;
    color: var(--white);
    top: 9.5%;
    left: 53%;
    font-size: 24px;
    position: absolute;
    z-index: 0;
    width: 74px;
}

.hp_input:focus {
    outline: none;
}

.sanidade_input{
    background: transparent;
    color: var(--white);
    top: 24.5%;
    left: 57%;
    font-size: 24px;
    position: absolute;
    z-index: 0;
    width: 74px;
}

.sanidade_input:focus {
    outline: none;
}

.esforco_input{
    background: transparent;
    color: var(--white);
    font-size: 24px; /* Ajuste o valor do font-size conforme necessário */
    padding: 2px; /* Ajuste o valor do padding conforme necessário */
    text-align: center; /* Alinha o texto no centro do input */
    position: absolute;
    top: 39%;
    left: 53.5%;
    width: 74px;
    height: 30px;
    z-index: 0;
 
}

.esforco_input:focus {
    outline: none;
}

/* Buttom */

.buttons {
    display: flex;
    gap: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1;

}
.button_style {
    border-radius: 3px ;
    background-color: var(--gray);
    padding: 2%;
    margin: 5px;
    font-size: 25px;
    width: 30%;
    transition: transform 0.4s ease-in;
    
}

.button_style:hover {
    background-color: var(--white);
    transform: scale(1.2);
}
.button_style_v2 {
    display: none;
    border-radius: 3px ;
    background-color: var(--gray);
    padding: 2%;
    margin: 5px;
    font-size: 25px;
    width: 30%;
    transition: transform 0.4s ease-in;
    
}

.button_style_v2:hover {
    background-color: var(--white);
    transform: scale(1.2);
}




/* parte de baixo do site */
.footer{
    color: var(--white);
    background-color: var(--black);
    width: fit-content;
    
}
.footer_text{
    
}